#include <dt-bindings/zmk/matrix_transform.h> // Put this with the other includes at the top of your overlay
#include "hootpad.dtsi"
/ {
    matrix_transform0: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <2>; // Length of the "col-gpios" array
        rows = <6>; // Length of the "row-gpios" array
        map = <
            RC(0,0) RC(0,1)
            RC(1,0) RC(1,1)
            RC(2,0) RC(2,1)
            RC(3,0) RC(3,1)
            RC(4,0) RC(4,1)
            RC(5,0) RC(5,1)
        >;
    };
};
/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "row2col";
        wakeup-source;

        col-gpios
            = <&pro_micro 9 GPIO_ACTIVE_HIGH>
            , <&pro_micro 8 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};
/ {
    chosen {
        zmk,physical-layout = &physical_layout0;
        // Other chosen items
    };
};
